@layer components, karma, theme;

header {
	position: fixed;
	width: 100%;
	z-index: 5;
}

aside {
	padding-top: 4em;
	z-index: 3; /* Make sure the sidebar is on top of the terminal */
}

main {
	padding-top: 4em;
}

dialog {
	border-radius: 1em;
}

section {
	padding: 0;
}

aside .flex-row {
	padding-left: 1em;
	padding-right: .5em;
}

#sidebar-toggler-button {
	margin-right: .5em;
}

div.buttons button svg {
	vertical-align: middle;
}

section.small {
	border-radius: .4em;
}