header {
	position: fixed;
	width: 100%;
	z-index: 5;
}

aside {
	padding-top: 4em;
	z-index: 3; /* Make sure the sidebar is on top of the terminal */
}

main {
	padding-top: 4em;
}

dialog {
	border-radius: 1em;
}

section {
	padding: 0;
}

.display {
	border: 1px solid #666;
	padding: 1em;
	border-radius: .7em;
	box-shadow: 0 0 .6em #aaa;
	text-align: center;
	font-size: small;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

aside .flex-row {
	padding-left: 1em;
	padding-right: .5em;
}

#sidebar-toggler-button {
	margin-right: .5em;
}

div.buttons button svg {
	vertical-align: middle;
}

section.small {
	border-radius: .4em;
}
