**/*.swp
**/*.swo
service/OliveTin
service/OliveTin.armhf
service/OliveTin.exe
service/reports
releases/
dist/
installation-id.txt
tmp/
frontend/dist/
frontend/node_modules
custom-frontend
integration-tests/screenshots/
