**/*.swp
**/*.swo
service/OliveTin
service/OliveTin.armhf
service/OliveTin.exe
service/reports
releases/
dist/
installation-id.txt
tmp/
webui/
webui.dev/node_modules
webui.dev/.parcel-cache
custom-webui
