**/*.swp
**/*.swo
service/OliveTin
service/OliveTin.armhf
service/OliveTin.exe
service/resource_windows_*.syso
service/reports
releases/
dist/
installation-id.txt
tmp/
frontend/dist/
frontend/node_modules
custom-frontend
integration-tests/screenshots/
integration-tests/flakey-test-runs.log
integration-tests/flakey-test-runs.jsonl
service/flakey-test-runs.log
service/flakey-test-runs.jsonl
.vscode/
/webui/
server.log
OliveTin
integration-tests/configs/authRequireGuestsToLogin/sessions.yaml
/webui
/webui.dev
sessions.yaml
docs/build/
build/
Binary/
.cursor
