html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #dee3e7;
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

dialog {
  box-shadow: 0 0 6px 0 #444;
  max-width: 600px;
  min-width: 60%;
  text-align: left;
  padding: 0;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog.big {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100dvh;
  border: none;
  margin: 0;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  padding: 0;
  text-align: center;
  justify-content: center;
  border: 0;
}

footer {
  font-size: smaller;
}

footer span {
  display: inline-block;
}

a {
  color: black;
}

nav ul li a {
  display: block;
  padding: 0.5em 1em;
  user-select: none;
  text-decoration: none;
}

a:focus {
  background-color: black;
  color: white;
  outline: 1px solid black;
}

nav ul li a:hover {
  background-color: #efefef;
  color: black;
  cursor: pointer;
}

#sidebar-toggler-button {
  height: 2em;
  width: 2em;
  text-align: center;
  display: inline-grid;
  place-items: center;
  margin-left: 1em;
  padding: 0;
}

#username {
  margin-right: 1em;
  font-size: small;
}

nav {
  left: -250px;
}

nav.topbar {
  display: flex;
  flex-direction: row;
  place-content: end;
  border-radius: .5em;
  padding-right: 1em;
  padding-left: 1em;
  flex-grow: 1;
}

nav.sidebar {
  background-color: white;
  position: fixed;
  width: 180px;
  height: 100dvh;
  top: 0;
  transition: left 0.5s ease, visibility 0.5s ease;
  box-shadow: 0 0 10px 0 #444;
  z-index: -1;
  flex-direction: column;
  display: flex;
  visibility: hidden;
}

nav.sidebar.shown {
  visibility: visible;
  left: 0;
}

.sidebar #navigation-links {
  padding-top: 4em;
  flex-grow: 1;
}

#supplemental-links {
  flex-grow: 0;
}

h1 {
  display: inline;
  font-size: small;
  padding-left: .5em;
  flex-grow: 1;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav.topbar ul {
  display: inline-block;
}

nav.topbar ul li {
  display: inline-block;
  font-size: small;
}

nav.topbar ul li a {
  border-radius: .5em;
}

nav.sidebar ul li {
  list-style: none;
  text-align: left;
  border-bottom: 1px inset black;
}

table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 5px 0 #444;
}

th,
td {
  border: 1px solid #efefef;
  text-align: left;
  padding: 0.6em;
}

th:first-child {
  width: 5%;
}

tr:hover td {
  background-color: beige;
}

legend {
  padding-top: 1em;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
  font-weight: bold;
}

span.icon {
  display: block;
  font-size: 3em;
}

.action-header {
  display: flex;
  align-items: center;
}

.action-header span.icon,
tr.log-row span.icon {
  display: inline-block;
  padding-right: 0.2em;
  vertical-align: middle;
}

.error {
  background-color: salmon;
  color: black;
}

.title.temporary-status-message {
  color: gray;
}

h2 {
  display: inline-block;
  font-size: 1em;
  margin-top: 0;
  flex-grow: 1;
}

div.entity h2 {
  grid-column: 1 / span all;
}

details {
  display: inline-block;
  flex-grow: 1;
}

/* General Buttons */

button,
input[type="submit"]
{
  padding: 1em;
  color: black;
  text-align: center;
  border: 1px solid #999;
  background-color: white;
  box-shadow: 0 0 6px 0 #aaa;
  user-select: none;
  transition: background-color 1s ease, color .3s ease;
}

input[type="checkbox"] {
  justify-self: baseline;
}

fieldset button {
  border-radius: .7em;
}

/* Action Buttons */
action-button {
  display: flex;
  flex-direction: column;
}

action-button button {
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

span.title {
  display: inline;
}

action-button details {
  flex-grow: 1;
}

action-button details[open] {
  margin-top: 0;
}

action-button details summary div {
  display: inline-flex;
}

action-button details summary div span:first-child {
  flex-grow: 1;
}

.action-button-footer {
  text-align: left;
  font-size: smaller;
  overflow: auto;
}

execution-button {
  display: inline-block;
  margin-right: .2em;
  margin-left: .2em;
  margin-top: .2em;
}

execution-button button {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Button states */

button:hover,
input[type="submit"]:hover {
  box-shadow: 0 0 10px 0 #666;
  cursor: pointer;
}

button:focus,
input[type="submit"]:focus {
  outline: 1px solid black;
}

button:disabled,
input[type="submit"]:disabled {
  color: #3c3c3c;
  background-color: #cecece;
  cursor: not-allowed;
}

.action-status {
  padding: .4em;
  border-radius: .4em;
}

.action-failed {
  background-color: #e78284;
}

.action-success {
  background-color: #a6d189;
  color: black;
}

.action-nonzero-exit {
  background-color: #ef9f76;
  color: black;
}

.action-timeout {
  background-color: #99d1db;
  color: black;
}

.action-blocked {
  background-color: #ca9ee6;
  color: black;
}

img.logo {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

main {
  padding: 1em;
  padding-top: 3.5em;
  flex-grow: 1;
}

summary {
  cursor: pointer;
}

form div.wrapper {
  background-color: white;
  text-align: left;
}

label {
  text-align: right;
  display: inline-block;
}

header {
  text-align: left;
  display: flex;
  flex-direction: row;
  z-index: 3;
  align-items: center;
  padding-bottom: .2em;
  padding-top: 1em;
  position: fixed;
  background-color: #dee3e7;
  width: 100vw;
}

input {
  padding: 0.6em;
}

input:invalid {
  outline: 2px solid red;
}

form .wrapper span.icon {
  display: inline-block;
  vertical-align: middle;
}

button[name="cancel"]:hover {
  background-color: salmon;
  color: black;
}

input[name="start"]:hover {
  background-color: #aceaac;
  color: black;
}

div.arguments {
  display: grid;
  grid-template-columns: max-content auto auto; /* We don't want the label or the description to wrap, and the input to take up the rest of the space */
  grid-template-rows: auto;
  grid-gap: 1em;
  align-items: center;

}

p.argument-wrapper {
  display: flex;
}

div.buttons {
  display: flex;
  justify-content: end;
  gap: 1em;
}

input.invalid {
  background-color: salmon;
}

#available-version {
  background-color: #aceaac;
  padding: 0.2em;
  border-radius: 1em;
}

span.tag {
  background-color: lightgray;
  border-radius: 0.4em;
  padding: 0.4em;
  margin-top: .2em;
  margin-right: .2em;
  display: inline-block;
  color: black;
}

div.toolbar {
  padding: .4em;
  text-align: left;
  background-color: #efefef;
  border: 1px solid #999;
  border-bottom: 0;
  display: flex;
  flex-direction: row;
}

div.toolbar * {
  margin-right: 1em;
}

div.display {
  border: 1px solid #666;
  box-shadow: 0 0 6px 0 #aaa;
  border-radius: .7em;
  display: flex;
  align-items: center;
  place-content: center center;
  flex-direction: column;
  font-size: small;
}

#execution-dialog-xterm {
  flex-grow: 1;
}

.padded-content {
  padding: 1em;
}

.padded-content-sides {
  padding-left: 1em;
  padding-right: 1em;
}

.ta-left {
  text-align: left;
}

.xterm {
  padding: 1em;
}

@media screen and (width <= 600px) {
  fieldset {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  label {
    text-align: left;
    margin-bottom: .6em;
    font-weight: bold;
  }

  p.argument-wrapper {
    flex-direction: column;
  }

  div.arguments {
    grid-template-columns: auto;
  }

  dialog {
    border-left: 0;
    border-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    max-width: 100vw;
  }

  .xterm {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
  }
}

@media (prefers-color-scheme: dark) {
  body, header {
    background-color: #333;
    color: white;
  }

  dialog {
    background-color: #222;
    color: white;
  }

  form div.wrapper {
    background-color: #222;
  }

  button,
  input[type="submit"] {
    border: 1px solid #666;
    background-color: #222;
    box-shadow: 0 0 6px 0 #444;
    color: white;
  }

  button:focus,
  input[type="submit"]:focus {
    outline: 2px solid #72B7F4;
  }

  footer {
    color: #bbb;
  }

  a, a:visited {
    color: #bbb;
  }

  a:focus {
    background-color: #72B7F4;
    color: black;
    outline: 1px solid #72B7F4;
  }

  nav.sidebar {
    background-color: #111;
    color: white;
  }

  nav ul li a:hover {
    background-color: #666;
    color: white;
  }

  button:disabled {
    background-color: black;
  }

  table,
  td,
  th {
    border: 1px solid gray;
  }

  td,
  tr {
    background-color: #222;
    color: white;
  }

  tr:hover td {
    background-color: #666;
  }

  div.toolbar {
    background-color: black;
  }

  div.display {
    box-shadow: 0 0 6px 0 #444;
  }
}
